<div class="chat-main">
  <div class="chat-main-header">
    <div class="chat-room-name"><a href="#">hugefuga</a></div>
    <div class="chat-room-right">
      <div class="chat-room-end"><a href="#">チャットを終了する</a></div>
    </div>
  </div>
  <div class="chat-main-messages">
    <div class="message">
      <div class="message-sub">
        <div class="message-name">Tom</div>
        <div class="message-time">2020/3/31(Web) 12:43:30</div>
      </div>
      <div class="message-text">おはよう</div>
    </div>
    <div class="message">
      <div class="message-sub">
        <div class="message-name">Tom</div>
        <div class="message-time">2020/3/31(Web) 12:43:30</div>
      </div>
      <div class="message-text">こんばんは</div>
    </div>
  </div>
  <div class="chat-main-footer">
    <div class="message-input">
      <input type="text" placeholder="type a message" class="message-post">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" value="送信" class="post-button">
  </div>
</div>