.wrapper{
  height: 100vh;
  display: flex;
}

.side-bar{
  width: 300px;
}

.side-bar-sub{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.side-bar-main{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
}

.chat-main{
  width: calc(100vw - 300px);
}

.chat-main-header{
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
}

.chat-main-main{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.chat-main-footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}