.wrapper{
  height: 100vh;
  display: flex;
}

.side-bar{
  width: 300px;
}

.side-bar-header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-name a{
  text-decoration: none;
  color: #FAFAFA;
  font-size: 16px;
}

.create-room a{
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
  color: deepskyblue;
}

.side-bar-rooms{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.side-bar-room{
  padding: 20px 0 40px;
}

.side-bar-room a{
  text-decoration: none;
  color: white;
}

.chat-main{
  width: calc(100vw - 300px);
}

.chat-main-header{
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat-room-name{
  margin-top: 36px;
}

.chat-room-name a{
  text-decoration: none;
  font-size: 24px;
  color: #333;
}

.chat-room-right{
  margin-top: 40px;
}

.chat-room-end a{
  padding: 20px;
  border: 1px solid darkred;
  text-decoration: none;
  color: darkred;
}

.chat-main-messages{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.message{
  padding-top: 10px;
  margin-bottom: 40px;
}

.message-sub{
  display: flex;
  margin-bottom: 10px;
}

.message-name{
  font-size: 16px;
  color: #434A54;
  margin-right: 10px;
}

.message-time{
  font-size: 12px;
  color: #999;
}

.message-text{
  font-size: 14px;
  color: #434A54;
}

.chat-main-footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex
}

.message-input{
  background-color: white;
  display: flex;
  width: 100%;
}

.message-post{
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 10px; 
}

.post-button{
  height: 50px;
  background-color: #38AEF0;
  font-size: 16px;
  color: white;
  padding: 0 20px;
  border: none;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}